{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Post
{% endblock title %}


{% block content %}
        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    Publication date
                </td>
                <td>
                    Content
                </td>
            </tr>
            <tr>
                <td>
                    {{ post.post_title }}
                </td>
                <td>
                    {{ post.creation_date|date:'d.M.Y H:m' }}
                </td>
                <td>
                    {{ post.post_text | censor }}
                </td>
            </tr>

        </table>
{% endblock content %}