
{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1>All news</h1>
<h5>Total {{ posts|length }} posts</h5>
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
    {% if posts %}


        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    Publication date
                </td>
                <td>
                    Content
                </td>
            </tr>
            {% for post in object_list %} <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно так же, как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->
            <tr>
<td>
            <a href="{% url 'post_detail' post.id %}">{{ post.post_title }}</a> <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с самого товара -->
            <a href="{% url 'post_update' post.id %}"><u>Edit</u></a> <!-- добавим ссылку на редактирование товара-->

            <a href="{% url 'post_delete' post.id %}"><u> Delete </u></a> <!-- добавим ссылку на удаление товара-->
</td>

                <td>
                    {{ post.creation_date|date:'d.M.Y' }}
                </td>
                <td>
                    {{ post.post_text | censor |truncatewords:20 }}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %} <!-- Если товаров нет, то говорим, что товаров нет ;) -->
        <h2>The are no posts!</h2>


    {% endif %}

<a href="{% url 'post_create' %}">Add new post</a> <br>
{% if is_paginated %}


    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}


    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}