{% extends 'default.html' %}
{% load custom_filters %}

{% load cache %}
    {% cache 300 header %}
        {% block title %}
        Post
        {% endblock title %}
    {% endcache %}


{% block content %}
        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    Publication date
                </td>
                <td>
                    Content
                </td>
            </tr>
            <tr>
                <td>
                    {{ post.post_title }}
                </td>
                <td>
                    {{ post.creation_date|date:'d.M.Y H:m' }}
                </td>
                <td>
                    {{ post.post_text | censor }}
                </td>
            </tr>

        </table>
<br>
<br>
<br>
{% if request.user.is_authenticated %}
    <p>
    {% load cache %}
        {% cache 300 header %}
        <h6>You may subscribe to the news of this post's categories:</h6>
        {% endcache %}
        {%for category in post.categories.all%}
        <br>{{category}}
        {% if not user in category.subscribers.all %}
        <button><a href="{% url 'subscribe' category.id %}">Subscribe</a></button>
        {% else %}
        <button><a href="{% url 'unsubscribe' category.id %}">Unsubscribe</a></button>
        {%endif%}
        {% endfor %}



    </p>
{% endif %}
{% endblock content %}