<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{ request.user }} Список новостей категории <b>"{{cat}}"</b> за неделю:
        <br>
<table>
    {% for post in post %}
    {% if cat in post.categories.all%}
    <tr>
        <td>{{post.post_title}} -></td>
        <td><a href="http://127.0.0.1:8000/news/{{ post.id }}">ссылка</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


    <p> краткое содержание:
    <br>
    {{my_post.post_text|truncatechars:50}}
    </p>
</body>
</html>